<footer id="footer-1" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="widget about-us">
                    <span class="footer-brand">SKY<span>SHOP.</span></span>
                    <p>SKYSHOP. là một website thời trang cung cấp những sản phẩm phù hợp với tuổi teen của các bạn gái.</p>
                </div>
                <!-- /.about-us -->
            </div>
            <!-- /.col-md-3 -->
            <div class="col-md-3">
                <div class="widget popular-posts">
                    <h5 class="subpage-title">Địa chỉ liên hệ</h5>
                    <div>
                        119 Điện biên phủ, Phường Đa Kao, Quận 1
                    </div>
                </div>
                <!-- /.popular-posts -->
            </div>
            <!-- /.col-md-3 -->
            <div class="col-md-3">
                <div class="widget tagcloud">
                    <h5 class="subpage-title">Ý kiến đóng góp</h5>
                    <div id="form_contact">
                        <label>Email</label>
                        <input type="text" class="form-control" />
                        <label>Content</label>
                        <textarea class="form-control"></textarea>
                        <input type="button" class="btn btn-success" value="Send" />
                    </div>
                </div>
                <!-- /.tagcloud -->
            </div>
            <!-- /.col-md-3 -->
            <div class="col-md-3">
                <div class="widget flickr-photos">
                    <h5 class="subpage-title">Flickr Photos</h5>
                    <div id="framefb">
                        Theo dõi chúng tôi trên fanpage.
                    </div>
                </div>
                <!-- /.flickr-photos -->
            </div>
            <!-- /.col-md-3 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</footer>

<footer id="footer-2" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 footer-info-wrapper">
                <span>Copyright © 2017 SKYSHOP. All rights reserved.</span>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</footer>