
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

<section id="shop-1" class="section layout-1">
    <div class="container">
        <div class="row">
            <div class="col-md-9 content-wrapper">
                <div class="wrapper-1">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="product-thumb">
                                @Html.Partial("_SlidePartial")
                            </div>
                        </div>
                        <div class="col-sm-6 product-info product-info-2">
                            <h2>Product ID 002</h2>
                            <span class="previous-price">$229</span>
                            <span class="price">$199</span>
                            <p>Lorem ipsum dolor sit amet, no consequat ullamcorper nec, te commune constituto intellegebat eam. Soleat populo id nec. Est in altera vocibus, et vim iudico adolescens, mel no discere mediocritatem. Nec ei sale honestatis, graeco melius eruditi qui et, id nam mucius maiorum. Pri diceret ornatus cu, dico quas aliquando vix ea, vix impetus invidunt honestatis id. An his everti animal.</p>
                            <div class="wrapper-2">
                                <a href="#" class="btn btn-flat flat-color"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper-1" id="wrapper-description">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#home" data-toggle="tab">Mô tả</a></li>
                        <li><a href="#profile" data-toggle="tab">Reviews (5)</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="home">
                            <p>Lorem ipsum dolor sit amet, maiorum antiopam duo ne, mundi omittam id eum. Ex iuvaret eruditi laboramus vis, omnis solum ipsum eos eu. Ignota ullamcorper sed ex, cu his utamur percipit. Cu has sint fuisset voluptaria, id legere prompta sadipscing sed, an lorem viris populo est. Tibique gubergren pri ne. Euripidis reprimique an vel, eos facilisi conceptam et, saepe menandri antiopam at per. Et adhuc facilis vix, ea vitae vocibus vel, quo delenit fuisset id. Eum duis appareat mediocritatem no, duo ne audiam mentitum. Mea veniam soluta splendide ut, an malis dolores adolescens est, suas nemore te nec.</p>
                            <p>Id veritus elaboraret comprehensam ius. Pro probatus posidonium in, brute sapientem sit ad, at eius zril quaeque usu. Mea ea modo sumo splendide. Tota feugiat vituperatoribus eu mea, ne vix dolores efficiantur, cum ne velit accusam abhorreant. Quo eros euismod epicuri an. Omnis volumus deleniti ne duo. Sit amet elit aliquid in. At his velit dolorem persequeris, rebum aliquam sententiae nam at, est etiam admodum ea. At vix minim principes mediocritatem, graeci verear nusquam vim at, nec no omnium legimus. Causae verear pericula duo in. Ad vis aliquip malorum deleniti. Et vocent salutandi mea, stet natum veniam duo at, qui ei audiam fastidii.</p>
                            <p>Delenit laoreet insolens mei ei. Ex amet iusto sit. Eam ei brute admodum. Nec wisi aeque theophrastus in, illud posse accommodare no vis. Quod perfecto an duo. Cu has placerat detraxit, dolor mentitum ad eos, id nonumy laudem vim. Ferri praesent an vis, est ea munere ubique offendit.</p>
                        </div>
                        <div class="tab-pane" id="profile">
                            <ul class="media-list">
                                <li class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object" width="64" height="64" src="assets/img/users/photo (2).jpg" alt="User Image">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="media-heading">
                                            <a href="#">Guest 0100</a>
                                            <span class="comment-date">12 July 2013</span>
                                            <a href="" class="comment-reply pull-right">Reply</a>
                                        </h5>
                                        <p>Ne sit movet simul sensibus. Utamur philosophia est id, an nam nisl scripserit. Elit minimum interesset nec ex. Volumus postulant te sit.</p>
                                        <!-- Nested media object -->
                                        <div class="media">
                                            <a class="pull-left" href="#">
                                                <img class="media-object" width="64" height="64" src="assets/img/users/photo (1).jpg" alt="User Image">
                                            </a>
                                            <div class="media-body">
                                                <h5 class="media-heading">
                                                    <a href="#">Theme Admin</a>
                                                    <span class="comment-date">12 July 2013</span>
                                                    <a href="" class="comment-reply pull-right">Reply</a>
                                                </h5>
                                                His euismod principes no, mel delenit argumentum in. In mel hinc natum, duo menandri vulputate ea, vim et quidam commodo partiendo. Volumus postulant te sit.
                                            </div>
                                        </div>
                                        <!-- Nested media object -->
                                        <div class="media">
                                            <a class="pull-left" href="#">
                                                <img class="media-object" width="64" height="64" src="assets/img/users/photo (3).jpg" alt="User Image">
                                            </a>
                                            <div class="media-body">
                                                <h5 class="media-heading">
                                                    <a href="#">Guest 0101</a>
                                                    <span class="comment-date">12 July 2013</span>
                                                    <a href="" class="comment-reply pull-right">Reply</a>
                                                </h5>
                                                Erat mediocrem complectitur vim id. Soluta perpetua ea has, an fugit commune legendos ius, mel eu omnesque postulant gloriatur.
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object" width="64" height="64" src="assets/img/users/photo (4).jpg" alt="User Image">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="media-heading">
                                            <a href="#">Guest 0102</a>
                                            <span class="comment-date">12 July 2013</span>
                                            <a href="" class="comment-reply pull-right">Reply</a>
                                        </h5>
                                        His te unum ludus epicuri, torquatos moderatius instructior vix ut. Mel ei cibo modus elitr, at omnis graecis docendi sit.
                                    </div>
                                </li>
                                <li class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object" width="64" height="64" src="assets/img/users/photo (5).jpg" alt="User Image">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="media-heading">
                                            <a href="#">Guest 0103</a>
                                            <span class="comment-date">12 July 2013</span>
                                            <a href="" class="comment-reply pull-right">Reply</a>
                                        </h5>
                                        Eu vim ocurreret repudiare, nihil munere sea et, in justo placerat est. Has zril nominati mnesarchum ea. In impetus maiorum tincidunt sit, pro ex feugait iracundia, his vocibus admodum no.
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="messages">
                            <p>Eu ius mundi laoreet voluptatum, mei solum ridens fabellas ne, sit cu invenire praesent. Nam cu malis dissentiet dissentiunt, feugiat aliquando liberavisse ne quo. Ea est eripuit prodesset, homero facilis est ne. Vel no audire cotidieque, id graece persius atomorum pro, cu cum choro libris consetetur. Nam velit vocent luptatum ei.</p>
                            <p>Posse harum dicit ea usu. Duo et probatus petentium, vis in porro perpetua instructior.</p>
                        </div>
                    </div>
                </div>
                <div class="wrapper-2">
                    <h5 class="subpage-title">
                        <span>Releted Products</span>
                    </h5>
                    <div class="row">
                        
                    </div>
                </div>
            </div>
            <!-- /.content-wrapper -->
            <div class="col-md-3 sidebar">
                <div class="widget search">
                    <form class="search-form">
                        <input type="text" class="form-control" placeholder="Search ...">
                    </form>
                </div>
                <!-- /.search -->
                <div class="widget shopping-cart">
                    <h5 class="subpage-title"><span class="glyphicon glyphicon-shopping-cart"></span> Sản phẩm mới</h5>
                    <ul class="cart-items">
                    </ul>
                </div>
                <!-- /.shopping-cart -->
                <div class="widget categories">
                    <h5 class="subpage-title">Shop Categories</h5>
                    <ul class="widget-list">
                        <li><a href="#">Tools &amp; Tips</a></li>
                        <li><a href="#">Tutorials</a></li>
                        <li><a href="#">Articles</a></li>
                        <li><a href="#">Twitter Bootstrap</a></li>
                        <li><a href="#">Wordpress</a></li>
                        <li><a href="#">Photo Effects</a></li>
                    </ul>
                </div>
                <!-- /.categories -->
                <div class="widget popular-products">
                    <h5 class="subpage-title">Popular Products</h5>
                    <ul class="popular-items">
                    </ul>
                </div>
                <!-- /.popular-products -->
            </div>
            <!-- /.sidebar -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

